<div class="container">

  <div class="box">
    <h1 class="has-text-centered">
      Welcome to the online Monopoly game!
    </h1>
    <h2 class="has-text-centered">
      The objective of the game is to become the wealthiest player through
      buying, renting and selling property.
    </h2>

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>BANKER</mat-panel-title>
        </mat-expansion-panel-header>
        <p>The Bank pays salaries and bonuses. The Bank collects all taxes, fines, loans and
          interest, and the price of all properties which it sells and auctions.
          The Bank can't go broken, if the Bank runs out of money, the Banker may issue as much money as it needs.</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>GAMEPLAY</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Starting with the Banker, each player throws the dice. The player with the highest total starts the play.</p>
        <p>Each player starts with their token on the corner marked as "GO". After that the player throws the dice and
          moves the amount of spaces indicated by the dice.</p>
        <p>The tokens remain on the spaces occupied and proceed from that point on the player's next turn.</p>
        <p>Two or more tokens may rest on the same space at the same time.</p>
        <p>Depending on the space the token reaches, you may buy the property, or be obliged to pay rent, pay taxes,
          draw a Chance or Community Chest card, Go To Jail, or etc...</p>
        <p>If you throw doubles, you move your token and are subject to any privileges or penalties pertaining to the
          space on which you land. Then you can throw again and move your token as before.</p>
        <p>But watch out, if you ever throw doubles three times in succession, you have to go to jail immediately.</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>GO</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Each time a player's token lands on or passes over GO, whether by throw of the dice or by
          drawing a card, the Banker pays that player a $200 salary. However, $200 is paid only once each time around
          the board.
        </p>
        <p>If a player, passing "GO" on the throw of the dice, lands 2 spaces beyond it on "Community Chest", or 7
          spaces
          beyond it on "Chance", and draws the card "Advance to GO", he collects $200 for passing "GO"
          the first time and another $200 for reaching it the second time by instructions on the card.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>BUYING PROPERTY</mat-panel-title>
        </mat-expansion-panel-header>
        <p>When you land on an unowned property you can buy that property from the Bank at its
          price.
          <br>
          You receive the property card showing ownership.
          <br>
          If you do not wish to buy the property, the Bank sells it thru an auction to the highest bidder.
          The buyer pays the Bank the amount of the bid and receives the property card for that property.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>RENT</mat-panel-title>
        </mat-expansion-panel-header>
        <p> When you land on a property that is owned by another player, the owner collects rent
          from you in accordance with the list of prices on its property card.</p>
        <p>If the property is mortgaged, the owner if not able to collect rent.</p>
        <p>It is an advantage to hold all the property cards in a color-group because the owner may then charge double
          rent for properties in that color-group. This rule applies to unmortgaged properties even if another property
          in that color-group is mortgaged.</p>
        <p>It is more advantageous to have houses or hotels on properties because then rents becomes much higher.</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>CHANCE AND COMMUNITY CHEST</mat-panel-title>
        </mat-expansion-panel-header>
        <p>When you land on either of these spaces,you will be drawing one of those cards and
          follow the instructions on the card.
          <br>
          The "Get Out of Jail Free" card is held until used and then returned to the deck.
          <br>
          If the player who draws it does not wish to use it, then they may sell it to another player at a price
          agreeable
          to both.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>JAIL</mat-panel-title>
        </mat-expansion-panel-header>
        <p>You land in Jail when:
          <br>
          When you are sent to Jail, you must move directly into Jail and you can not collect $200 salary if you need to
          pass to Go. Also your turn ends when you are sent to Jail.
          <br>
          If you are not "sent to jail" but in the ordinary course of play lands on that space, you are "Just Visiting"
          and you move ahead in the usual manner on your next turn.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>FREE PARKING</mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is just a "free" resting place, so the player landing on it doesn't receive
          money, property, reward or penalty of any kind.

          Try to avoid to come here early in game, but later on the game it can be a great target.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>HOUSES AND HOTELS</mat-panel-title>
        </mat-expansion-panel-header>
        <p>When a player owns all the properties in a color-group, he or she may buy houses from
          the Bank.
          <br>
          You may buy as many houses as your judgment and financial standing will allow, but you cannot collect more
          than one house on any one property of any color-group until you have built one house on every property of that
          group.
          <br>
          The price you must pay the Bank for each house is shown on your property card for the property on which you
          built the house.
          <br>
          The owner still collects double rent from an opponent who lands on the properties of his/her complete
          color-group.
          <br>
          When a player has four houses on each property of a complete color-group, they may buy a hotel from the Bank
          and built it on any property of the color-group. Only one hotel may be built on any one property.
          <br>
          As you build evenly, you must also break down evenly if you sell houses back to the Bank.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>BUILDING SHORTAGES</mat-panel-title>
        </mat-expansion-panel-header>
        <p>When the Bank has no houses to sell, players wishing to build must wait for some
          player to return or sell their houses to the Bank before building.
          <br>
          If there are a limited number of houses and hotels available and two or more players wish to buy more than the
          Bank has, the houses/hotels will be sold at auction to the highest bidder.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>SELLING PROPERTY</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Properties, railroads and utilities may be sold to any player as a private transaction
          for any amount the owner can get.
          <br>
          However, properties can not be sold to another player if buildings are standing on any properties of that
          color-group.
          <br>
          The buildings must be sold back to the Bank before the owner can sell any property of that color-group.
          <br>
          Houses and Hotels can be sold back to the bank at any time for one-half the price paid for them.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>MORTGAGES</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Properties can be mortgaged through the Bank at any time. The mortgage value is
          printed on each property card.
          <br>
          When properties has buildings, then these must be sold back to the back at half price first.
          <br>
          No rent can be collected on mortgaged properties or utilities.
          <br>
          In order to lift the mortgage, the owner must pay the Bank the amount of mortgage plus 10% interest.
          <br>
          When all the properties of a color-group are no longer mortgaged, the owner may begin to buy back houses or
          hotels.
          <br>
          The player who mortgages property retains possession of it and no other player may secure it by lifting the
          mortgage from the Bank.
          <br>
          But the owner may sell this mortgaged property to another player at any agreed price and the new owner can
          lift the mortgage by paying off the mortgage plus 10% interest to the Bank.
          <br>
          When the mortgage if not lifted at once, you must pay the Bank 10% interest when you buy the property and if
          you lift the mortgage later you must pay the Bank an additional 10% interest.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>BANKRUPTCY</mat-panel-title>
        </mat-expansion-panel-header>
        <p>You are declared bankrupt if you owe more than you can pay to another player or to
          the Bank.
          <br>
          If your debt is to another player, you must turn over all that you have to that player.
          <br>
          If you own houses or hotels, you must return these to the Bank in exchange for money to the extent of one-half
          the amount paid for them and this cash is given to the creditor.
          <br>
          If you have mortgaged property you also turn this property over to your creditor but the new owner must at
          once pay the Bank the amount of interest on the loan, which is 10% of the value of the property.
          <br>
          Should you owe the Bank, instead of another player, more than you can pay, you must turn over all assets to
          the Bank. In this case, the Bank immediately sells by auction all property except buildings.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>END OF THE GAME</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Bankrupt players must retire from the game and the last player left in the game is the winner.</p>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

</div>
