.monopoly-homepage-image {
  height: 100%;
  width: 100%;

  /* example padding, font-size, background, etc */
  padding: 0;
  background-color: #D62929;
  background-image: url("/assets/images/homepage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
