$black: #080808;
$brown: #640303;
$board: #cde6d0;
$dark-purple: #5e3577;
$light-blue: #d2eaf5;
$purple: #b02f7c;
$orange: #fa811d;
$red: #f50c2b;
$yellow: #ffed20;
$green: #41994e;
$dark-blue: #5a6dba;

// Property colors
.dark-purple {
  background: $dark-purple;
}

.light-blue {
  background: $light-blue;
}

.purple {
  background: $purple;
}

.orange {
  background: $orange;
}

.red {
  background: $red;
}

.yellow {
  background: $yellow;
}

.green {
  background: $green;
}

.dark-blue {
  background: $dark-blue;
}


// Lay-out
$boardDimension: 800px;
$cornerLocationDimension: 100px;
$standardLocationWidth: 64px;

.token {
  position: relative;
  z-index: 100;
  bottom: 2.25rem;
  right: 0;

  display: flex;
  align-items: center;

  overflow-x: scroll;
  overflow-y: hidden;

  width: 64px;
}

.token.left {
  left: 1.2rem;
  top: -4.25rem;
}

.token.top {
  bottom: 6.25rem;
}

.token.right {
  top: -4.25rem;
  left: 5rem;
}

.token.boardcorner {
  width: 100px;
}

.property-container {
  height: $cornerLocationDimension;
  width: $standardLocationWidth;

}

.property {
  border-radius: 5px;
  overflow: hidden;
  user-select: none;

  .color-bar {
    height: 10px;
    border-bottom: 2px solid $black;
  }
}

.property:hover, .go:hover, .jail:hover, .parking:hover, .jail-visiting:hover {
  cursor: pointer;
}

.space {
  background: $board;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transform-origin: center;
    height: $cornerLocationDimension;
    width: $standardLocationWidth;
  }

  .price, .instructions {
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 5px;
  }

  .diamond {
    border-style: solid;
    border-color: transparent transparent #50bce6 transparent;
    border-width: 0 5px 5px 5px;
    height: 0;
    width: 10px;
    box-sizing: content-box;
    position: relative;
    margin: 4px 0 10px 0;
    display: inline-block;
    margin-inline: auto;
  }

  .diamond:after {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #4b7990 transparent transparent transparent;
    border-width: 9px 10px 0 10px;
  }

}

.top {
  transform: rotate(180deg);
  margin: 0 !important;
}

.left, .right {
  position: relative;
  top: 32px;
  left: 80%;
}

.left {
  transform: translate(-50%, -50%) rotate(90deg);
  margin: 0 !important;
}

.right {
  transform: translate(-50%, -50%) rotate(270deg);
  margin: 0 !important;
}

.corner-container {
  height: $cornerLocationDimension;
  width: $cornerLocationDimension;

  position: relative;
}

.corner {
  border-radius: 5px;
  overflow: hidden;
  user-select: none;

  text-align: center;

  .name {
    padding: 0;
  }
}

.go {
  grid-column: 11;
  grid-row: 11 / 12;
  position: relative;

  .container {
    justify-content: flex-start;
    transform: rotate(315deg);
  }

  .instructions {
    padding: 0;
    margin-bottom: 5px;
  }

  .go-word {
    font-size: 3rem;
    color: $red;
  }
}

.parking {
  position: relative;

  .container {
    justify-content: center;
    transform: rotate(135deg);
  }

  .name {
    font-size: 16px;
  }

  .drawing {
    font-size: 60px;
    color: $red;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.jail {
  position: relative;
  left: 0;

  .container {
    justify-content: center;
    transform: rotate(225deg);
  }

  .name {
    font-size: 16px;
  }

  .drawing {
    font-size: 60px;
    color: $brown;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.jail-visiting {
  display: grid;
  grid-template-columns: repeat(10, 10px);
  grid-template-rows: repeat(10, 10px);

  .drawing {
    grid-column: 5 / 11;
    grid-row: 1 / 8;
    width: 62.5px;
    height: 62.5px;
    background: $orange;
    border-bottom: 2px solid $black;
    border-left: 2px solid $black;
  }

  .just {
    grid-column: 4;
    grid-row: 3;
    transform: rotate(90deg);
    padding-top: 5px;
  }

  .visiting {
    grid-column: 5;
    grid-row: 7;
    padding-top: 5px;
  }

  .container {
    align-items: center;
    transform: rotate(45deg);

    height: 80px;
    width: 51px;
    bottom: 11px;
    right: -2px;
  }

  .name {
    font-size: 12px;
  }

  .window {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 44px;
    height: 44px;
    background: $board;
    border: 2px solid $black;
  }

  .person {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 40px;
  }

  .bar {
    height: 44px;
    width: 2px;
    background: $black;
  }
}
